@charset "UTF-8"; 
/*CSS Doc*/

.hidden
{
	display: none;
}

body {
	background-color: #51c9ff;
}

h1, h2, h3, p, a {
	font-family: "oswald", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	color: #006600;
}

a {
	text-decoration: none;
}

/* Header. Same across the 6 pages.*/
#bar {
	height: 305px;
	background-color: #70ba1a; 
}

#siteContainer {
	width: 1100px;
	margin: 0 auto;
	background-color: #51c9ff;
}

#mainHeader {
	display: flex;
	flex-direction: row;
	width: 1100px;
	background-color: #70ba1a;
}

#leftHead {
	display: flex;
	flex-direction: row;
}

.hp1 {
	width: 180px;
	height: 114px;
	margin-top: 27px;
}

.hp2 {
	width: 194px;
	height: 119px;
	margin-top: 35px;
	margin-left: 10px;
}

.logo {
	width: 285px;
	height: 245px;
	margin-left: 40px;
}

#rightHead {
	display: flex; 
	flex-direction: row;
	margin-left: auto;
}

.hp3 {
	width: 187px;
	height: 166px;
	margin-top: 35px;
	margin-right: 10px;
}

.hp4 {
	width: 150px;
	height: 135px;
	margin-top: 27px;
}

#mainNav
{
	display: flex;
	flex-direction: row;
	background-color: #70ba1a;
	justify-content: space-evenly;
	height: 60px;
}

#mainNav ul
{
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
}

#mainNav ul li a
{
	display: block;
	text-align: center;
	margin-left: 30px;
	margin-top: 20px;
	width: 85px;
	padding: 8px;
	color: #fff;
	font-size: 14px;
	transition: all .3s ease;
}

#mainNav ul li a:hover {
	background-color: #006600;
}
/* end of header */




/*start of Home page*/

/*end of Home page*/


/* about page */
.aboutHeading {
	margin-left: 100px;
	font-size: 35px;
	margin-top: 45px;
	text-decoration: underline;
	color: #70ba1a;	
}

.aboutPar1 {
	width: 825px;
	height: 307px;
	margin-top: 15px;
	margin-left: 150px;
	color: white;
	font-size: 22px;
	line-height: 26px;
}

#pictures {
	display: flex;
	flex-direction: row;
}

.aboutCon1 {
	width: 201px;
	height: 140px;
	margin-left: 170px;
	background-color: #000;
}

.aboutCon2 {
	width: 201px;
	height: 140px;
	margin-left: 86px;
	background-color: #000;
}

.aboutCon3 {
	width: 201px;
	height: 140px;
	margin-left: 86px;
	background-color: #000;
}

.aboutPar2 {
	width: 825px;
	height: 286px;
	margin-left: 150px;
	margin-top: 42px;
	font-size: 22px;
	color: white;
	line-height: 26px;
}
/*end of about page*/



/*start of project page*/

/*end of project page*/



/*news page*/
#newsHeading {
	margin-left: 100px;
	font-size: 35px;
	margin-top: 45px;
	text-decoration: underline;
	color: #70ba1a;	
}

.newsPar {
	width: 825px;
	height: 307px;
	margin-top: 15px;
	margin-left: 150px;
	color: white;
	font-size: 22px;
	line-height: 26px;
}

.memoryLane {
	color: white;
	text-align: center;
	font-size: 30px;
	text-decoration: underline;
}

#yearsNav {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

#yearsNav ul li a {
	background-color: #70ba1a;
	color: white;
	line-height: 60px;
	border: 1px solid #70ba1a;
	border-radius: 15px;
	padding: 5px;
}

#row1, #row2, #row3, #row4, #row5, #row6, #row7, #row8 {
	display: flex;
	flex-direction: row;
}


#row1 .newsText1 {
	margin-left: 85px;
}

#row1 .newsText2 {
	margin-left: 85px;
}

#row1 .newsText3 {
	margin-left: 85px;
}

#row1 .newsText4 {
	margin-left: 85px;
}

#row1 .newsText5 {
	margin-left: 85px;
}

#row1 .newsText6 {
	margin-left: 85px;
}

#row2 .newsText1 {
	margin-left: 87px;
}

#row2 .newsText2 {
	margin-left: 78px;
}

#row2 .newsText3 {
	margin-left: 65px;
}

#row2 .newsText4 {
	margin-left: 60px;
}

#row2 .newsText5 {
	margin-left: 60px;
}

#row2 .newsText6 {
	margin-left: 87px;
}

#row3 .newsText1 {
	margin-left: 100px;
}

#row3 .newsText2 {
	margin-left: 95px;
}

#row3 .newsText3 {
	margin-left: 65px;
}

#row3 .newsText4 {
	margin-left: 76px;
}

#row3 .newsText5 {
	margin-left: 66px;
}

#row3 .newsText6 {
	margin-left: 87px;
}

#row4 .newsText1 {
	margin-left: 100px;
}

#row4 .newsText2 {
	margin-left: 114px;
}

#row4 .newsText3 {
	margin-left: 79px;
}

#row4 .newsText4 {
	margin-left: 65px;
}

#row4 .newsText5 {
	margin-left: 64px;
}

#row4 .newsText6 {
	margin-left: 82px;
}

#row5 .newsText1 {
	margin-left: 83px;
}

#row5 .newsText2 {
	margin-left: 85px;
}

#row5 .newsText3 {
	margin-left: 79px;
}

#row5 .newsText4 {
	margin-left: 75px;
}

#row5 .newsText5 {
	margin-left: 70px;
}

#row5 .newsText6 {
	margin-left: 80px;
}

#row6 .newsText1 {
	margin-left: 86px;
}

#row6 .newsText2 {
	margin-left: 80px;
}

#row6 .newsText3 {
	margin-left: 45px;
}

#row6 .newsText4 {
	margin-left: 55px;
}

#row6 .newsText5 {
	margin-left: 65px;
}

#row6 .newsText6 {
	margin-left: 80px;
}

#row7 .newsText1 {
	margin-left: 89px;
}

#row7 .newsText2 {
	margin-left: 96px;
}

#row7 .newsText3 {
	margin-left: 80px;
}

#row7 .newsText4 {
	margin-left: 85px;
}

#row7 .newsText5 {
	margin-left: 80px;
}

#row7 .newsText6 {
	margin-left: 80px;
}

#row8 .newsText1 {
	margin-left: 285px;
}

#row8 .newsText2 {
	margin-left: 95px;
}

#row8 .newsText3 {
	margin-left: 81px;
}

#row8 .newsText4 {
	margin-left: 68px;
}
/*end of news page*/





/*start of references page*/

/*end of references page*/





/*start of contact page*/

#contactHeading {
	margin-left: 100px;
	font-size: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: underline;
	color: #70ba1a;	
}

.contactPar1 {
	width: 825px;
	margin-top: 15px;
	margin-left: 150px;
	color: white;
	font-size: 22px;
	line-height: 26px;
}

.contactPar2 {
	width: 505px;
	margin-top: 15px;
	margin-left: 150px;
	color: white;
	font-size: 22px;
	line-height: 26px;
}

#contactParLeft {
	display: flex;
	flex-direction: row;
}

iframe {
	width: 300px;
	height: 300px;
}

#aboutMeetingHeading {
	margin-left: 100px;
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 20px;
	color: #70ba1a;
}

.aboutMeetingText {
	width: 825px;
	margin-top: 15px;
	margin-left: 150px;
	color: white;
	font-size: 22px;
	line-height: 26px;
}

/*end of contact page*/





/* Footer */
#footerNav
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 60px;
	margin-top: 30px;
}

#footerNav ul
{
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
}

#footerNav ul li a 
{
	display: block;
	text-align: center;
	margin-left: 30px;
	margin-top: 20px;
	width: 85px;
	padding: 8px;
	color: #fff;
	font-size: 14px;
	transition: all .3s ease;
}

#footerNav ul li a:hover
{
	background-color: #006600;
}
/* end of footer*/
